@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

img {
    vertical-align: top;
    border: none;
}

a {
    text-decoration: none;
    color: #000000;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Jua', sans-serif;
}


.clearfix {
    clear: both;
}

.wrap {
    width: 100vw;
    height: 100vh;
}

#header {
    position: fixed;

    width: 100%;
    height: 60px;

    background-color: #ffffff;
    border-bottom: solid 1px #d4d4d4;
    box-shadow: 2px 0 15px #d4d4d4;

    top: 0;
    left: 0;

    z-index: 9999;
}

#header .inner {
    max-width: 1024px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
}

#header h1 {
    float: left;
    width: 50%;
    height: 60px;
    font-size: 30px;
    padding: 0 30px;
    line-height: 60px;
}

#nav {
    float: right;
    width: 50%;
    height: 60px;
}

#nav ul li {
    float: left;
    width: 33.33333%;
    height: 60px;
    text-align: center;
}

#nav ul li.one {
    pointer-events: none;
}

#nav ul li a {
    font-size: 18px;
    color: #808080;
}

#nav ul li a:hover {
    font-size: 20px;
    color: #000000;
}

#main {
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    top: 60px;
    background-color: green;
}

#main #section {}



#footer {
    width: 100%;
    height: 100px;
    max-width: 1024px;
    margin: 0 auto;

    background-color: green;
    background-color: blue;
}

.bigScreen {
    display: none;
}

/* 큰 가로 화면 영역 CSS */
/* media query */
@media screen and (max-width:900px) {
    .bigScreen {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #a8e775;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    .bigScreen .notice {
        color: #313131;
        font-size: 21px;
    }
}